/*
BRAND COLORS

white: #FFFFFF
orange: #FF9900
light navy: #232F3E
dark navy: #161E2D
*/

.hero {
  margin-top:75px;
  margin-bottom: 50px;
}

/*
.hero-image {
  background-image: url("/images/dot-texture.png");
  width: 100%;
  height: 100%;
  position: 0px 0px;
  background-size: cover;
  position: absolute;
  z-index:-1;
}
*/
.bg-pattern {
  background-image: url("images/dot-texture.png");
  background-repeat: no-repeat;
  position: absolute;
  /*background-size: 100% 900px;*/
  height:2000px;
  width:30%;
  top:0px;
  left:70%;
  opacity: 0.5;
  z-index:-1;
}

.hero img {
  padding-top:15px;
}

body {
  background-color: #161E2D;
  margin: 0;
  padding: 0;
  font-family: "Amazon Ember", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h5 {
  color: white;
}

h5 {
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  color: white;

}
.card {
  width: 18rem;
  border: 2px solid #FF9900;
  background-color: #232F3E;
  margin:15px;

  box-shadow: 0rem 0 1rem rgb(7, 5, 6);
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: 20px;
}

.bar {
  width: 100%;
  height: 3px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 3px;
}

.filledbar {
  position: relative;
  margin-top:-8px;
  z-index: 3;
  width: 0px;
  height: 3px;
  /*background: rgb(0,154,217);*/
  background: linear-gradient(90deg, rgb(255, 110, 127) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  /* blue to yellow 
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  */
  transition: 0.5s ease-out;
}

.card:hover .filledbar {
  width: 100%;
  transition: 0.2s ease-out;
}

.btn-info {
  color: white;
  background-color:transparent;
  border-color:#FF9900;
}

.btn-info:hover {
  background-color:#161E2D;
  border-color:#FF9900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    /* test */
}
